<div class="lg:px-20">
  <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5 flex item-center justify-between gap-3">
        <img class="size-8" src="images/r-icon.png" alt="User Icon" srcset="" />
        <div class="flex items-center">
          <h2 class="text-black">Rahul KR</h2>
        </div>
      </a>
    </div>
    <div class="flex lg:hidden md:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-500"
        (click)="openDialog()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          data-slot="icon"
          aria-hidden="true"
          class="size-6"
        >
          <path
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12 md:flex md:gap-x-6">
      <a href="/" class="text-sm/6 font-semibold text-black">Home</a>
      <a href="about" class="text-sm/6 font-semibold text-black">About</a>
      <a href="contact-form" class="text-sm/6 font-semibold text-black">Contact</a>
      <a href="projects" class="text-sm/6 font-semibold text-black">Projects</a>
    </div>
  </nav>
  @if (isModalOpen) {
  <app-dialog-box [openModal]="openModal" (closeModal)="closeDialogModal()"></app-dialog-box>
  }
</div>
