<div
  class="flex flex-col p-6 gap-4 min-h-[calc(100vh-72px)] mx-auto item-center justify-center bg-gradient-to-tl from-gray-400 via-white to-white"
>
  <h1 class="font-medium lg:w-1/2 w-full lg:mx-auto lg:justify-center md:text-4xl lg:text-4xl">
    Let's Work Together
  </h1>
  <p class="lg:w-1/2 w-full lg:mx-auto lg:justify-center md:text-2xl lg:text-2xl">
    Have a project in mind or just want to chat? <br />
    Let's connect.
  </p>
  <form
    [formGroup]="myForm"
    class="bg-slate-100 shadow-md rounded-base p-6 mb-4 flex flex-col gap-4 lg:w-1/2 w-full lg:mx-auto lg:justify-center"
    (ngSubmit)="onSubmit()"
  >
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Name</label>
        <input
          type="text"
          id="name"
          class="border-gray-300 rounded border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Your Name"
          formControlName="name"
          required
        />
        @if (myForm.get('name')?.invalid && myForm.get('name')?.touched) {
        <p class="mt-2.5 text-sm text-red-600 text-fg-danger-strong">
          <span class="font-medium">Oh, snapp!</span> Name is empty &#128519;.
        </p>
        }
      </div>
      <div>
        <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
        <input
          type="email"
          id="email"
          class="border-gray-300 rounded border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="contact@example.com"
          formControlName="email"
          required
        />
        @if (myForm.get('email')?.invalid && myForm.get('email')?.touched) {
        <p class="mt-2.5 text-sm text-red-600 text-fg-danger-strong">
          <span class="font-medium">Oh, snapp!</span> Email is empty &#128519;.
        </p>
        }
      </div>
      <div>
        <label for="Notes">
          <span class="text-sm font-medium"> Message </span>

          <textarea
            id="Notes"
            class="bg-white mt-0.5 w-full resize-none rounded border-gray-300 shadow-sm sm:text-sm"
            rows="4"
            required
            placeholder="Your message..."
            formControlName="message"
          ></textarea>
        </label>
        @if (myForm.get('message')?.invalid && myForm.get('message')?.touched) {
        <p class="mt-2.5 text-sm text-red-600 text-fg-danger-strong">
          <span class="font-medium">Oh, snapp!</span> Message is empty &#128519;.
        </p>
        }
      </div>
    </div>
    <button
      type="submit"
      class="bg-white text-black box-border border border-gray-500 rounded hover:bg-brand-strong focus:ring-1 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-200 disabled:cursor-not-allowed"
      [disabled]="myForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
