<div class="flex flex-col p-6 gap-4">
  <form
    [formGroup]="myForm"
    class="bg-neutral-primary-medium shadow-md rounded-base p-6 mb-4 flex flex-col gap-4"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="font-medium">Let's Work Together</h1>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="first_name" class="block mb-2.5 text-sm font-medium text-heading"
          >First name</label
        >
        <input
          type="text"
          id="first_name"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="John"
          formControlName="firstName"
          required
        />
      </div>
      <div>
        <label for="last_name" class="block mb-2.5 text-sm font-medium text-heading"
          >Last name</label
        >
        <input
          type="text"
          id="last_name"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Doe"
          formControlName="lastName"
          required
        />
      </div>
      <div class="mb-6">
        <label for="email" class="block mb-2.5 text-sm font-medium text-heading"
          >Email address</label
        >
        <input
          type="email"
          id="email"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="john.doe@company.com"
          formControlName="email"
          required
        />
      </div>
      <div>
        <label for="phone" class="block mb-2.5 text-sm font-medium text-heading"
          >Phone number</label
        >
        <input
          type="tel"
          id="phone"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="123-45-678"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          formControlName="phoneNumber"
          required
        />
      </div>
      <div>
        <label for="company" class="block mb-2.5 text-sm font-medium text-heading">Messsage</label>
        <input
          type="text"
          id="company"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="Message"
          formControlName="message"
          required
        />
      </div>
    </div>
    <button
      type="submit"
      class="text-black bg-dark box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      [disabled]="myForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
