<div
  class="flex flex-col border border-white/10 bg-white/5 rounded-xl p-8 backdrop-blur-3xl hover:-translate-y-2 transition-all duration-300 hover:bg-white/10 hover:shadow-[0_8px_30px_rgb(0,0,0,0.5)] hover:border-(--primary-color)/30"
>
  <div class="flex pb-4 items-start">
    <h1 class="text-2xl font-bold text-center">{{ data.title }}</h1>
  </div>
  <div>
    @if (!description) {
    <p
      class="text-(--text-color) dark:text-gray-400 pb-4 truncate cursor-pointer"
      (click)="openDescription()"
    >
      {{ data.description }}
    </p>
    } @else{
    <p
      class="text-(--text-color) dark:text-gray-400 pb-4 cursor-pointer"
      (click)="closeDescription()"
    >
      {{ data.description }}
    </p>
    }
  </div>
  <div>
    <a
      class="bg-(--btn-color) text-(--white) rounded shadow-xs font-medium text-sm px-4 py-2.5"
      href="{{ data.link }}"
      >{{ data.btnLabel }}</a
    >
  </div>
</div>
