@import 'tailwindcss';

:root {
  --font-pj: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --primary-color: #00ffff;
  --secondary-color: #ffffff;
  --background-color: #000000;
  --btn-hover-color: #40faf1;
}
